* {
  box-sizing:border-box;
}

#controls, #local-media {
  display: inline;
}

#local-media > video {
  width: 100px;
  position: relative;
  top: -85px;
  border: 2px solid white;
  right: -25px;
  display: inline;
}

#remote-media > video {
  width: 400px;
  position: relative;
  right: -20px;
}

#end-call {
  display: none;
  position: relative;
  top: -137px;
  left: 331px;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#dedede;
  background-color: #849091;
  font-family: 'Lato', sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  height:70%;
  background-color:#2B2B2A;
}

section input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}

/**********************OVERLAY******************************/


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

 button {
    background-color:transparent;
    border:1px dashed #83A4C5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    text-shadow:0px 3px 5px #2f6627;
    margin-left: 5px;
  }


#username, #invite-to {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
  color: white;
  position: relative;
  top: 9px;
  font-size: 16px;
}

#button-invite:hover, #end-call:hover {
  background: white;
  color: black;
  border: none;
}
/*#get-username:hover {
  background-color:transparent;
}
#get-username:active {
  position:relative;
  top:1px;
}
*/

#board {
  margin-right: 100px;
}

#board > div {
  width: 100px;
  height: 100px;
  background: white;
  margin: 5px 5px 5px 5px;
  display: inline-block;
  float: right;
}

#board > div:nth-of-type(n+4) {
  position: relative;
  top: 110px;
  left: 330px;
}

#board > div:nth-of-type(n+7) {
  position: relative;
  top: 220px;
  left: 660px;
}




































